<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update client</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
    <label for="fullname">Enter name: </label>
    <input type="text" th:field="*{fullname}" id="fullname"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Name Error</div>
    <br/>
    <label for="passportDetails">Enter passport details: </label>
    <input type="text" th:field="*{passportDetails}" id="passportDetails"/>
    <div style="color:red" th:if="${#fields.hasErrors('passportDetails')}" th:errors="*{passportDetails}">Passport details Error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>