<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>

<div th:each="client : ${page}">
    <a th:href="@{clients/{id}(id=${client.getId()})}"
       th:text="${client.getId() + ' ' + client.getFullname() + ', ' + client.getPassportDetails()}"></a>
</div>

<br/>
<hr/>

<form action="/" method="get">
    <button type="submit">Main Menu</button>
</form>

<div>
    <ul>
        <li th:if="${page.hasPrevious()}">
            <a th:href="@{(${httpServletRequest.requestURI})(page=${page.previousPageable().pageNumber})}" th:text="'Prev'">
            </a>
        </li>
        <li th:if="${page.hasNext()}">
            <a th:href="@{(${httpServletRequest.requestURI})(page=${page.nextPageable().pageNumber})}" th:text="'Next'" th:attr="href=@{(${httpServletRequest.requestURI})(page=${page.nextPageable().pageNumber})}">
            </a>
        </li>
    </ul>
</div>

</body>

</html>